<div class="d-flex overflow-hidden">
    <div class="container my-5">
        <div class="row justify-content-start">
            <div class="col-md-5 p-0">
                <img src="../../../assets/img/Inkubis-photo.jpg" class="img-fluid rounded-0 img-inkubis" alt="" />
            </div>
            <div class="col-md-6 p-0">
                <div class="card rounded-0 bg-white">
                    <div class="card-body m-2 p-5">
                        <h6 class="login-preTitle">Login</h6>
                        <h3 class="card-title">
                            Login om bedrijfscontracten te bekijken en aan te passen
                        </h3>
                        <hr class="mt-4"/>
                        <form #loginForm="ngForm" name="form" (ngSubmit)="onSubmit()" novalidate class="mb-3 mt-md-4">
                            <div class="mb-3">
                                <label for="username" class="form-label">Gebruikersnaam</label>
                                <input type="username" class="form-control" id="username"
                                    placeholder="Type hier je gebruikersnaam" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Wachtwoord</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Type hier je wachtwoord" />
                                <a routerLink="" class="btn end-0 mx-5 my-3">Versturen</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>