img {
  height: 18vh;
  min-height: 18vh;
}

.card-footer {
  background-color: #53042f;
  justify-content: center;
  height: 8vh;
}

.card-body {
  background-color: #53042f;
  padding-top: 4px;
}

.center {
  text-align: center;
}

.card .card-text {
  color: #ffffff;
}

.listWrap {
  min-height: calc(100vh - 61px);
  display: flex;
  align-items: center;
}

.list {
  width: 100%;
  background-color: #ffffff;
  height: 75vh;
  padding: 20px 30px;
  position: relative;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 14px;
}

.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #53042f;
  border-bottom: 10px;
}

.list::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 0px;
  background-color: #53042f;
}

hr {
  opacity: 100%;
  background-color: black;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.modal-title {
  color: #ffff00;
}

.modal-body {
  width: 500px;
}

.modal-header {
  background-color: #53042f;
  width: 500px;
}

.modal-footer {
  border-radius: 0;
}

.error-message {
  font-size: 12px;
  font-weight: bold;
}

.close {
  font-size: 31px !important;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  align-items: center;
}

.close::after {
  content: none !important;
}
