.card {
    width: 13vw;
    height: 37.2vh;
    justify-content: space-between;
}

img {
    height: 25vh;
}

.card-footer {
    background-color: #53042F;
    justify-content: center;
    height: 8vh;
}

.card-body {
    background-color: #53042F;
    font-size: 17px;
}

.card .card-text {
    color: #ffffff;
}

.listWrap {
    min-height: calc(100vh - 61px);
    display: flex;
    align-items: center;
}

.list {
    width: 100%;
    background-color: #ffffff;
    height: 75vh;
    padding: 20px 30px;
    position: relative;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: 14px;
}

.list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #53042F;
    border-bottom: 10px;
}

.list::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 0px;
    background-color: #53042F;
}

hr {
    opacity: 100%;
    background-color: black;
    width: 63.5vw;
}

button {
    left: 0 !important;
    height: 6vh !important;
    width: 5.5vw !important;
    font-size: 10px !important;
    margin-left: 12px !important;
}

.button:hover {
    background-color: #ffff00;
    transition: 0.4s;
    transform: scale(1.02);
    color: #53042F;
}

.modal-title {
    margin-left: 8.7rem;
    color: #ffff00;
}

.modal-body {
    width: 500px;
}

.modal-header {
    background-color: #53042F;
    width: 500px;
}

.modal-footer {
    border-radius: 0;
    width: 500px;
}

.btn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ffff00;
    transition: 0.3s;
    transform: scale(1.05);
}

.close:hover {
    background-color: #ffff00;
    transition: 0.3s;
    transform: scale(1.02);
    color: black;
}

.error-message {
    font-size: 12px;
    font-weight: bold;
}