.user-header {
    border: 1px solid black;
    background-color: #53042F;
    font-weight: 700;
    height: 6vh;
    width: 100%;
    position: relative;
}

.user-header > div {
    line-height: 5.7vh;
    vertical-align: middle;
    max-width: 100%;
}

.role-picture-container {
    border-right: 1px solid black;
    background-color: #D9D9D9;
    height: 100%;
}

.user-companies {
    background-color: #D9D9D9;
    height: 100%;
}

.user-companies div {
    margin-left: 10px;
}

.role-picture-admin {
    border: 1px solid black;
    border-radius: 50%;
    width: 90%;
    height: 85%;
    background-image: url('../../assets/img/admin.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.role-picture-sales {
    border: 1px solid black;
    border-radius: 50%;
    width: 90%;
    height: 85%;
    background-image: url('../../assets/img/sales.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: 0.3rem;
}

.user-details {
    height: 15vh;
}

.container {
    background-color: white;
}

.h3 {
    color: #280223;
}

.edit-button {
    background-color: #FFFF00;
    border-radius: 50%;
    height: 1.8rem;
    line-height: 5.7vh;
    vertical-align: middle;
    display: none;
    background-image: url(../../assets/img/editIcon.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
}

.user-container:hover .edit-button {
    display: inline;
}

.user-container:hover .user-header > div {
    line-height: 5.7vh;
    vertical-align: middle;
    max-width: 85%;
}