<div class="container px-5 pb-4">
    <div class="text-center pt-3">
        <h2>Gebruiker overzicht</h2>
        <p>Hieronder vind je een overzicht van alle gebruikers</p>
        <hr/>
    </div>
    <div class="row" style="margin-top: -2.5vh;">
        <div class="col-md-4 col-md-offset-2 user-container pt-5" *ngFor="let user of users">
            <div class="px-3 user-header text-white">
                <a (click)="openDialog(user.id)" class="btn edit-button"></a>
                <span class="align-middle">{{user.firstName + ' ' + user.lastName }} | {{ user.emailAddress }}</span>
            </div>
            <div class="row g-0 user-details">
                <div class="col-4">
                    <div class="role-picture-container d-flex align-items-center justify-content-center">
                        <div *ngIf="user.role == 'admin'" class="role-picture-admin pt-3"></div>
                        <div *ngIf="user.role == 'sales'" class="role-picture-sales pt-3"></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="user-companies">
                        <div>
                            <span>Werkt voor:</span><br>
                            <span *ngFor="let company of user.companies">
                                {{company.name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

