.listWrap {
  min-height: calc(100vh - 61px);
  display: flex;
  align-items: center;
}

hr {
  opacity: 100%;
}

.border {
  opacity: 100%;
}

.list {
  width: 100%;
  background-color: #ffffff;
  height: 75vh;
  padding: 20px 30px;
  position: relative;
  overflow-y: none !important;
}

.detail-img {
  background-size: cover;
  height: 39.8vh;
  width: 20vw;
  margin-top: 5.5vh;
}

.modal-title {
  color: #ffff00;
}

.modal-body {
  width: 500px;
}

.modal-header {
  background-color: #53042f;
  width: 500px;
  justify-content: center;
}

.modal-footer {
  border-radius: 0;
  width: 500px;
}

input {
  display: block;
  margin-right: 2rem;
  border-color: black;
  border-width: 1px;
  opacity: 100%;
}

input::placeholder {
  font-size: 12px;
}

.container .border {
  opacity: 100%;
}

.container p,
h5 {
  display: inline;
}

.container p {
  font-size: 18px;
}

.border {
  opacity: 100%;
  color: black;
}

ul {
  list-style-type: none;
}

.close {
  font-size: 31px !important;
  padding: 0;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
}

.close::after {
  content: none !important;
}
