<div class="card formHeader">
    <div class="card-body">
        <h5 class="preTitle">Contract aanmaken</h5>
        <h2 class="card-subtitle">Contract informatie</h2>
        <p class="card-text">Algemene informatie over het contract
            waaronder de informatie over de verwerker en de verwerkersverantwoordelijke.</p>
        <hr>
    </div>
</div>

<form [formGroup]="form" class="formMainContent" (ngSubmit)="onSubmit()">

    <div formGroupName="dataCategory" class="row">
        <h2>Categorieën van gegevens</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Identificatiegegevens</h5>
                <p class="card-text">(bv. voornaam, achternaam, leeftijd, gender,
                    geboortedatum, elektronische identificatiegegevens (zoals IP Adres, cookies)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="IdentificationData" name="IdentificationData"
                    formControlName="IdentificationData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Rijksregisternummer</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="nationalRegistryNumber"
                    name="nationalRegistryNumber" formControlName="nationalRegistryNumber">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Communicatiegegevens</h5>
                <p class="card-text">(bv. naam, adres, titel, functie, telefoon, e-mailadres,
                    adres etc.)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="communicationsData" name="communicationsData"
                    formControlName="communicationsData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Relationele gegevens</h5>
                <p class="card-text">(bv. burgerlijke staat, kinderen, familieleden)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="relationalData" name="relationalData"
                    formControlName="relationalData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Professionele gegevens</h5>
                <p class="card-text">(bv. werkgelegenheid, aanwezigheid, salaris)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="professionalData" name="professionalData"
                    formControlName="professionalData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Locatiegegevens</h5>
                <p class="card-text">(bv. GPS of mobiele telefoon, andere volgmechanismen)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="locationData" name="locationData"
                    formControlName="locationData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Alle gegevens met betrekking tot de financiële situatie van een betrokkene.
                </h5>
                <p class="card-text">Voorbeelden zijn schulden, salaris- en betalingsgegevens, bankrekening, pincode</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="financialData" name="financialData"
                    formControlName="financialData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Financiële en verzekeringsproducten</h5>
                <p class="card-text">(bv. Leningen, hypotheken)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="financialAndInsuranceProducts"
                    name="financialAndInsuranceProducts" formControlName="financialAndInsuranceProducts">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Alle gegevens met betrekking tot stigmatisering of afzondering van de
                    betrokkene.</h5>
                <p class="card-text">Voorbeelden zijn gegevens met betrekking tot een gokverslaving, prestaties op
                    school of werk of relatieproblemen</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="stigmatizationOrIsolationData"
                    name="stigmatizationOrIsolationData" formControlName="stigmatizationOrIsolationData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Levensstijl en gewoonten of consumptiegewoonten</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="lifestyleAndHabits" name="lifestyleAndHabits"
                    formControlName="lifestyleAndHabits">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Gebruikersnamen, wachtwoorden en andere inloggegevens</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="loginData" name="loginData"
                    formControlName="loginData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Alle gegevens die kunnen worden gebruikt voor (identiteits)fraude</h5>
                <p class="card-text">Zoals biometrische gegevens, kopieën van identiteitskaarten en
                    socialezekerheidsnummers</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="identityFraudData" name="identityFraudData"
                    formControlName="identityFraudData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Alle gegevens met betrekking tot een bijzondere wettelijke
                    geheimhoudingsverplichting en gegevens met betrekking tot het beroepsgeheim</h5>
                <p class="card-text">Zoals het beroepsgeheim van een arts</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox"
                    id="specialLegalDutyOfConfidentialityAndProfessionalSecrecyData"
                    name="specialLegalDutyOfConfidentialityAndProfessionalSecrecyData"
                    formControlName="specialLegalDutyOfConfidentialityAndProfessionalSecrecyData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Contractuele gegevens</h5>
                <p class="card-text">(contractuele relatie, bestelgeschiedenis, bestelnummers, facturering en betaling,
                    enz.)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="contractualData" name="contractualData"
                    formControlName="contractualData">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Beeld- of geluidsopname</h5>
                <p class="card-text">(bv. foto, video of geluid)</p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="imageOrSoundRecording" name="imageOrSoundRecording"
                    formControlName="imageOrSoundRecording">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Een andere categorie:</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="otherCategory" name="otherCategory"
                    formControlName="otherCategory">
            </div>
        </div>
    </div>

    <button class="purple" type="submit">Volgende</button>
</form>