<div class="card formHeader">
    <div class="card-body">
        <h5 class="preTitle">Form 2</h5>
        <h2 class="card-subtitle mb-2">Naam van Formulier 1</h2>
        <p class="card-text">Beschrijving van formulier 1. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
        <hr>
    </div>
</div>

<form [formGroup]="form" class="formMainContent" (ngSubmit)="onSubmit()">
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2">firstQuestion</h5>
            <p class="card-text">Beschrijving van firstQuestion. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
        </div>
        <div class="buttons">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
                <label class="form-check-label h5" for="cb1">
                    Accept
                </label>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2">secondQuestion</h5>
            <p class="card-text">Beschrijving van formulier secondQuestion. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
        </div>
        <div class="buttons">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="secondQuestion" name="secondQuestion" formControlName="secondQuestion">
                <label class="form-check-label h5" for="cb1">
                    Accept
                </label>
            </div>
        </div>
    </div>

    <button class="yellow" type="submit">Submit</button>
</form>