<!-- Toolbar -->
<header>
  <div class="content">
    <img src="../assets/img/brand-logo.svg" alt="" class="logo">
    <div class="navWrap">
      <ul>
        <li><a routerLink="/contract" *ngIf="loggedInUser$ | async as user">Create contract</a></li>
        <li><a routerLink="" *ngIf="loggedInUser$ | async as user">Admin pannel</a></li>
      </ul>
      <ul *ngIf="(loggedInUser$ | async) === undefined">
        <li><a class="nav-link yellow" routerLink="/register">Registreer</a></li>
        <li><a class="nav-link" routerLink="/login">Login</a></li>
      </ul>
      <ul *ngIf="loggedInUser$ | async as user">
        <li><a class="nav-link">{{ user.emailAddress }}</a></li>
        <li><a class="nav-link" (click)="logout()">Uitloggen</a></li>
      </ul>
    </div>
  </div>
</header>

<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer -->
<!-- <footer><div class="content"></div></footer> -->