<!-- Toolbar -->
<header>
  <div class="content">
    <img src="../assets/img/brand-logo.svg" alt="" class="logo">
    <div class="navWrap">
      <ul>
        <li><a routerLink="/contract">Create contract</a></li>
        <li><a href="">Admin pannel</a></li>
      </ul>
      <button class="login yellow">Login</button>
    </div>
  </div>
</header>

<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Footer -->
<!-- <footer><div class="content"></div></footer> -->