.content{
  margin: 0 auto;
  max-width: 70vw;
  height: 100%;
}
header .content, footer .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  height: 61px;
  background-color: #280223;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
  .logo{
    height: 41px;
    max-height: 100%;
    width: auto;
  }

  .navWrap{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
  }
  .navWrap ul{
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
    .navWrap li{
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .navWrap li:hover{
      border-bottom: #ffff00 2px solid;
      
    }
      .navWrap ul li a{
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
      }
      .navWrap li:hover a{
        color: #ffff00 !important;
        margin-bottom: -2px;
      }
