<div class="adminWrap">
    <div class="admin">
        <div class="row">
            <div class="col-9 main">
                <h5 class="preTitle">Alle contracten</h5>
                <h2>Contracten overzicht</h2>
                <p>Hieronder een overzicht van alle contracten van alle bedrijven</p>
                <hr>

                <div class="contract" *ngFor="let contract of contracts">
                    <div class="line">
                        <div class="content">
                            <a class="title" routerLink="/contract-details/{{contract.id}}"><h2>Contract hoort bij: {{ contract.companyExecutingDP.name }}</h2></a>
                            <p><b>Verwerker:</b> {{contract.companyExecutingDP.name}}</p>
                            <p><b>Verwerkings verantwoordelijke:</b> {{ contract.companyResponsibleForDP.name}}</p>
                            <p *ngIf="contract.companyExecutingDP.legalCountry == true">Nederlands template</p>
                            <p *ngIf="contract.companyExecutingDP.legalCountry == false">Belgisch template</p>
                        </div>
                        <div class="crud">
                            <div class="edit">
                                <a><i class="bi bi-pencil"></i> Bewerken</a>
                            </div>
                            <div class="delete">
                                <a (click)="deleteContract(contract.id)"><i class="bi bi-trash3"></i> Verwijderen</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
