<div class="adminWrap">
    <div class="admin">
        <div class="row">
            <div class="col-9 main">
                <h5 class="preTitle">Alle contracten</h5>
                <h2>Contracten overzicht</h2>
                <p>Hieronder een overzicht van alle contracten van alle bedrijven</p>
                <hr>

                <div class="contract" *ngFor="let contract of contracts">
                    <div class="content">
                        <h2>Contract aangemaakt op: {{ contract.iContract.dateSigned }}</h2>
                        <p>Contract hoort bij: {{ contract.companyExecutingDataProcessing.name }}</p>
                        <p *ngIf="contract.companyExecutingDataProcessing.legalCountry == true">Nederlands template</p>
                        <p *ngIf="contract.companyExecutingDataProcessing.legalCountry == false">Belgisch template</p>
                    </div>
                    <div class="crud">
                        <a><i class="bi bi-pencil"></i> Bewerken</a>
                        <a><i class="bi bi-trash3"></i> Verwijderen</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
