<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 no-padding">
        <img
          src="../../../assets/img/Inkubis-photo.jpg"
          class="img-fluid rounded-0 justify-content-end"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="card rounded-0 bg-white">
          <div class="card-body m-2 p-5">
            <h6 class="login-preTitle">Login</h6>
            <h3 class="card-title">
              Login om bedrijfscontracten te bekijken en aan te passen
            </h3>
            <hr class="mt-4" />
            <form class="mb-3 mt-md-5">
              <div class="mb-3">
                <label for="username" class="form-label">Gebruikersnaam</label>
                <input
                  type="username"
                  class="form-control"
                  id="username"
                  placeholder="Type hier je gebruikersnaam"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Wachtwoord</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Type hier je wachtwoord"
                />
              </div>
              <h6 class="my-3">
                Nog geen account? <a routerLink="/register">Klik hier</a>
              </h6>
              <button
                class="btn mx-5 my-5 position-absolute bottom-0 end-0"
                type="submit"
              >
                Versturen
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
