<div class="formWrap">
    <div class="form">
        <div class="row">
            <!-- Buttons -->
            <div class="col-3 formLeft">
                <h4>progressie:</h4>
                <p (click)="link()" *ngFor="let comp of components" >
                    <span *ngIf="comp == currentComp">-></span>
                    <a *ngIf="this.routeId != 0" [routerLink]="['./edit/', routeId, '/', comp]">
                        {{comp}}
                    </a> 
                    <a *ngIf="this.routeId == 0" [routerLink]="['./', comp]">
                        {{comp}}
                    </a> 
                </p>
            </div>
    
            <!-- Text -->
            <div class="col-9 formMain">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>