p a{
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.formWrap{
    min-height: calc(100vh - 61px);
    display: flex;
    align-items: center;
  }
  .form {
    background-color: #ffffff;
    height: 75vh;
    width: 100%;
  }
    .form .row{
      --bs-gutter-x: 0;
      height: 100%;
    }
      .formLeft {
        padding: 60px 40px 0px 60px;
        height: 100%;
        background-color: #c096b3;
        color: #ffffff;
        float: right;
        text-align: right;
      }
        .formLeft h4{
          margin-bottom: 45px;
        }
        .formLeft p{
          margin-bottom: 20px;
        }
      .formMain{
        padding: 60px 60px 0px 40px;
        height: inherit;
        overflow-y: scroll;
      }
        .formMain ::ng-deep form{
          margin-bottom: 50px;
        }
        .formMain ::ng-deep form h2{
          color: #c95478;
          margin-top: 60px;
        }
        .formMain ::ng-deep .card {
          border: none;
        }
        .formMain ::ng-deep .card-body {
          padding: 0;
        }
        .formMain ::ng-deep .formHeader hr{
          margin-bottom: 0px;
        }
        .formMain ::ng-deep .formMainContent .card{
          margin-top: 30px;
        }
        ::ng-deep .inputs{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 15px;
          }
          ::ng-deep .formMainContent button{
            margin-top: 30px;
            margin-left: auto;
            
          }
          ::ng-deep .form-check-input {
              width: 30px;
              height: 30px;
              margin-top: 0px;
            }
            ::ng-deep .form-check{
                display: flex;
                align-items: center;
            }
            ::ng-deep .form-check-input:checked {
              background-color: #280223;
              border-color: #280223;
            }
            ::ng-deep .form-check-input:focus {
              border-color: #c096b3;
              outline: 0;
              box-shadow: 0 0 0 0.2rem #c096b356;
            }
            ::ng-deep .form-tekst-input{
              padding: 12px 16px;
              line-height: 24px;
              border: 1px solid #280223;
              font-size: 16px;
              border-radius: 0px !important;
              outline: none !important;
              width: 100%;
            }

            ::ng-deep .form-check-label {
                margin-bottom: 0px;
                margin-left: 10px;
            }