<div class="detailWrap">
    <div class="detail">
        <div class="row">
            <div class="col-9 main">
                <h5 class="preTitle">Uw contracten</h5>
                <h2>Contracten overzicht</h2>
                <p>De volgende contracten behoren tot {{ contract.companyExecutingDataProcessing.name }}</p>
                <hr>
                
                <div class="contract">
                    <!-- Verwerkingsverantwoordelijke -->
                    <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
                    <div class="flex">
                        <label>(bedrijfs-) naam</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.name }}</label>
                    </div>
                    <div class="flex">
                        <label>Ondernemingsnummer</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.companyNumber }}</label>
                    </div>
                    <div class="flex">
                        <label>Nederlandse wetgeving</label>
                        <label *ngIf="contract.companyResponsibleForDataProcessing.legalCountry">Ja</label>
                        <label *ngIf="!contract.companyResponsibleForDataProcessing.legalCountry">Nee</label>
                    </div>
                    <div class="flex">
                        <label>Adres</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.address }}</label>
                    </div>
                    <div class="flex">
                        <label>Postcode</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.zipcode }}</label>
                    </div>
                    <div class="flex">
                        <label>Stad</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.city }}</label>
                    </div>
                    <div class="flex">
                        <label>Land</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.countryOfResidence }}</label>
                    </div>
                    
                    <!-- Verwerker -->
                    <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
                    <div class="flex">
                        <label>(bedrijfs-) naam</label>
                        <label>{{ contract.companyExecutingDataProcessing.name }}</label>
                    </div>
                    <div class="flex">
                        <label>Ondernemingsnummer</label>
                        <label>{{ contract.companyExecutingDataProcessing.companyNumber }}</label>
                    </div>
                    <div class="flex">
                        <label>Nederlandse wetgeving</label>
                        <label *ngIf="contract.companyExecutingDataProcessing.legalCountry">Ja</label>
                        <label *ngIf="!contract.companyExecutingDataProcessing.legalCountry">Nee</label>
                    </div>
                    <div class="flex">
                        <label>Adres</label>
                        <label>{{ contract.companyExecutingDataProcessing.address }}</label>
                    </div>
                    <div class="flex">
                        <label>Postcode</label>
                        <label>{{ contract.companyExecutingDataProcessing.zipcode }}</label>
                    </div>
                    <div class="flex">
                        <label>Stad</label>
                        <label>{{ contract.companyExecutingDataProcessing.city }}</label>
                    </div>
                    <div class="flex">
                        <label>Land</label>
                        <label>{{ contract.companyExecutingDataProcessing.countryOfResidence }}</label>
                    </div>
                    
                    <!-- Extra informatie -->
                    <h5 class="card-subtitle mb-2">Formulier Extra informatie</h5>
                    <div class="flex">
                        <label>Plaats ondertekening</label>
                        <label>{{ contract.iContract.citySigned }}</label>
                    </div>
                    <div class="flex">
                        <label>Datum ondertekening</label>
                        <label>{{ contract.iContract.dateSigned }}</label>
                    </div>
                    
                    <!-- contractsignees Verwerkingsverantwoordelijke -->

                    <!-- <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
                    <div class="flex">
                        <label>Naam medewerker 1</label>
                        <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member1',
                            'name'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Functie medewerker 1</label>
                        <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member1',
                            'jobDescription'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Naam medewerker 2</label>
                        <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member2',
                            'name'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Functie medewerker 2</label>
                        <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member2',
                            'jobDescription'])!.value}}</label>
                    </div> -->
                    
                    <!-- contractsignees Verwerker -->

                    <!-- <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
                    <div class="flex">
                        <label>Naam medewerker 1</label>
                        <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member1',
                            'name'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Functie medewerker 1</label>
                        <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member1',
                            'jobDescription'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Naam medewerker 2</label>
                        <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member2',
                            'name'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Functie medewerker 2</label>
                        <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member2',
                            'jobDescription'])!.value}}</label>
                    </div> -->
                    
                    <!-- processingpurposes Verwerkingsdoeleindes -->

                    <!-- <h5 class="card-subtitle mb-2">Formulier Verwerkingsdoeleindes</h5>
                    <div class="flex">
                        <label>Verwerkingsdoeleindes</label>
                        <label>{{this.form.get(['processingpurposes','processingPurposes'])!.value}}</label>
                    </div> -->
                    
                    <!-- certification Verwerkingsverantwoordelijke -->

                    <!-- <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
                    <div class="flex">
                        <label>Certificeringen</label>
                        <label>{{this.form.get(['certification','certifications'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Behaalde certificering</label>
                        <label>{{this.form.get(['certification','achievedCertifications'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Audits, inspecties of interne controles</label>
                        <label>{{this.form.get(['certification','overhauls'])!.value}}</label>
                    </div> -->
                    
                    <!-- thirdparty Externe subverwerkers -->
                    <h5 class="card-subtitle mb-2">Formulier Externe subverwerkers</h5>
                    <div class="flex">
                        <label>Naam</label>
                        <label>{{ contract.externalSubEmployeeExecutingDataProcessing.name }}</label>
                    </div>
                    <div class="flex">
                        <label>Statutaire zetel</label>
                        <label>{{ contract.externalSubEmployeeExecutingDataProcessing.formalCity }}</label>
                    </div>
                    <div class="flex">
                        <label>Adres</label>
                        <label>{{ contract.externalSubEmployeeExecutingDataProcessing.address }}</label>
                    </div>
                    <div class="flex">
                        <label>Aanduiding van verwerking persoonsgegevens</label>
                        <label>{{ contract.externalSubEmployeeExecutingDataProcessing.typeOfProcessingForPersonalData }}</label>
                    </div>
                    <div class="flex">
                        <label>Dienstomschrijving voor verwerker</label>
                        <label>{{ contract.externalSubEmployeeExecutingDataProcessing.jobDescription }}</label>
                    </div>
                    
                    <!-- thirdparty Derde leveranciers -->

                    <!-- <h5 class="card-subtitle mb-2">Formulier Derde leveranciers</h5>
                    <div class="flex">
                        <label>Naam</label>
                        <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                            'name'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Zetel</label>
                        <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                            'formalCity'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Adres</label>
                        <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                            'address'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Beschrijving van de levering</label>
                        <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                            'descriptionOfSupply'])!.value}}</label>
                    </div>
                    <div class="flex">
                        <label>Eventueel link naar de voorwaarden</label>
                        <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                            'linkToLegalTerms'])!.value}}</label>
                    </div> -->
                    
                    <!-- thirdparty Derde leveranciers -->
                    <h5 class="card-subtitle mb-2">Formulier Derde leveranciers</h5>
                    <div class="flex">
                        <label>Naam</label>
                        <label>{{ contract.dataTransfer.nameOfExternalSubEmployee }}</label>
                    </div>
                    <div class="flex">
                        <label>Land</label>
                        <label>{{ contract.dataTransfer.legalCountry }}</label>
                    </div>
                    <div class="flex">
                        <label>Basis van doorgifte</label>
                        <label>{{ contract.dataTransfer.reasonForDataTransfer }}</label>
                    </div>
                    
                    <!-- spoc Verwerkingsverantwoordelijke -->
                    <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
                    <div class="flex">
                        <label>Naam</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.name }}</label>
                    </div>

                    <!-- <div class="flex">
                        <label>Functie</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.jobDescription }}</label>
                    </div>
                    <div class="flex">
                        <label>Email</label>
                        <label>{{contract.companyResponsibleForDataProcessing.email }}</label>
                    </div>
                    <div class="flex">
                        <label>Telefoon</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.phone }}</label>
                    </div>
                    <div class="flex">
                        <label>Mobiele telefoon</label>
                        <label>{{ contract.companyResponsibleForDataProcessing.mobile }}</label>
                    </div> -->
                    
                    <!-- spoc Verwerker -->
                    <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
                    <div class="flex">
                        <label>Naam</label>
                        <label>{{ contract.companyExecutingDataProcessing.name }}</label>
                    </div>

                    <!-- <div class="flex">
                        <label>Functie</label>
                        <label>{{ contract.companyExecutingDataProcessing.jobDescription }}</label>
                    </div>
                    <div class="flex">
                        <label>Email</label>
                        <label>{{ contract.companyExecutingDataProcessing.email }}</label>
                    </div>
                    <div class="flex">
                        <label>Telefoon</label>
                        <label>{{ contract.companyExecutingDataProcessing.phone }}</label>
                    </div>
                    <div class="flex">
                        <label>Mobiele telefoon</label>
                        <label>{{ contract.companyExecutingDataProcessing.mobile }}</label>
                    </div> -->

                </div>
            
                <div class="buttonToRight">
                    <button routerLink="/" class="versturen purple">Terug naar overzicht</button>
                </div>
            </div>
        </div>
    </div>
</div>