<div class="card formHeader">
    <div class="card-body">
        <h5 class="preTitle">Contract aanmaken</h5>
        <h2 class="card-subtitle ">Contract informatie</h2>
        <p class="card-text">Algemene informatie over het contract
             waaronder de informatie over de verwerker en de verwerkersverantwoordelijke.</p>
        <hr>
    </div>
</div>

<form [formGroup]="form" class="formMainContent" (ngSubmit)="onSubmit()">
    
    <div class="row">
        <h2>Verwerkingsverantwoordelijke</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Naam</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Functie</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>

        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Email</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle ">Telefoon</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
        
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle ">Mobiele telefoon</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Verwerker</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Naam</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Functie</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>

        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle ">Email</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle ">Telefoon</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
        
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle ">Mobiele telefoon</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="firstQuestion" name="firstQuestion" formControlName="firstQuestion">
            </div>
        </div>
    </div>

    <button class="purple" type="submit">Next</button>
</form>