<div class="card formHeader">
    <div class="card-body">
        <h5 class="preTitle">Contract aanmaken</h5>
        <h2 class="card-subtitle">Contract informatie</h2>
        <p class="card-text">Algemene informatie over het contract
            waaronder de informatie over de verwerker en de verwerkersverantwoordelijke.</p>
        <hr>
    </div>
</div>

<form [formGroup]="form" class="formMainContent" (ngSubmit)="onSubmit()">

    <div formGroupName="contractinfo">

        <div *ngIf="routeId == 0">
            <mat-select class="form-control" formControlName="companyId">
                <mat-option *ngFor="let company of allCompanies"
                    [value]="company.id">{{company.name}}</mat-option>
            </mat-select>
        </div>  

    <div formGroupName="companyResponsibleForDataProcessing" class="row">
        <h2>Verwerkingsverantwoordelijke</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Bedrijfsnaam</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="name" name="name" formControlName="name">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Ondernemingsnummer</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="companyNumber" name="companyNumber"
                    formControlName="companyNumber">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Nederlandse wetgeving</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="legalCountry" name="legalCountry"
                    formControlName="legalCountry">
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Adres</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="address" name="address" formControlName="address">
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Postcode</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="zipcode" name="zipcode" formControlName="zipcode">
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Stad</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="city" name="city" formControlName="city">
            </div>
        </div>
        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Land</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="countryOfResidence" name="countryOfResidence"
                    formControlName="countryOfResidence">
            </div>
        </div>
    </div>

    <div formGroupName="companyExecutingDataProcessing" class="row">
        <h2>Verwerker</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Bedrijfsnaam</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="name" name="name" formControlName="name">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Ondernemingsnummer</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="companyNumber" name="companyNumber"
                    formControlName="companyNumber">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Nederlandse wetgeving</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-check-input" type="checkbox" id="legalCountry" name="legalCountry"
                    formControlName="legalCountry">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Adres</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="address" name="address" formControlName="address">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Postcode</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="zipcode" name="zipcode" formControlName="zipcode">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Stad</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="city" name="city" formControlName="city">
            </div>
        </div>

        <div class="card col-6">
            <div class="card-body">
                <h5 class="card-subtitle">Land</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="countryOfResidence" name="countryOfResidence"
                    formControlName="countryOfResidence">
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Extra informatie</h2>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Plaats ondertekening</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="text" id="citySigned" name="citySigned"
                    formControlName="citySigned">
            </div>
        </div>
        <div class="card col-12">
            <div class="card-body">
                <h5 class="card-subtitle">Datum ondertekening</h5>
                <p class="card-text"></p>
            </div>
            <div class="inputs">
                <input class="form-tekst-input" type="Date" id="dateSigned" name="dateSigned"
                    formControlName="dateSigned">
            </div>
        </div>
    </div>
</div>

    <button class="purple" type="submit">Volgende</button>
</form>