<div class="card formHeader">
    <div class="card-body">
        <h5 class="preTitle">Controleer de volgende gegevens goed</h5>
        <h2 class="card-subtitle mb-2">Controleren gegevens</h2>
        <p class="card-text">De volgende informatie is opgegeven in het formulier</p>
        <hr>
    </div>
</div>

<form [formGroup]="form" class="formMainContent" (ngSubmit)="onSubmit()">

    <div class="contract">
        <div class="card">
            <!-- Verwerkingsverantwoordelijke -->
            <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
            <div class="flex">
                <label>Bedrijfsnaam</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Ondernemingsnummer</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'companyNumber'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Nederlandse wetgeving</label>
                <label *ngIf="this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                'legalCountry'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                'legalCountry'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Adres</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'address'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Postcode</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'zipcode'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Stad</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'city'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Land</label>
                <label>{{this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                    'countryOfResidence'])!.value}}</label>
            </div>

            <!-- Verwerker -->
            <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
            <div class="flex">
                <label>Bedrijfsnaam</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Ondernemingsnummer</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'companyNumber'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Nederlandse wetgeving</label>
                <label *ngIf="this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                'legalCountry'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['contractinfo','companyResponsibleForDataProcessing',
                'legalCountry'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Adres</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'address'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Postcode</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'zipcode'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Stad</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'city'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Land</label>
                <label>{{this.form.get(['contractinfo','companyExecutingDataProcessing',
                    'countryOfResidence'])!.value}}</label>
            </div>

            <!-- Extra informatie -->
            <h5 class="card-subtitle mb-2">Formulier Extra informatie</h5>
            <div class="flex">
                <label>Plaats ondertekening</label>
                <label>{{this.form.get(['contractinfo','dateSigned'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Datum ondertekening</label>
                <label>{{this.form.get(['contractinfo','citySigned'])!.value}}</label>
            </div>

            <!-- contractsignees Verwerkingsverantwoordelijke -->
            <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
            <div class="flex">
                <label>Naam medewerker 1</label>
                <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member1',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie medewerker 1</label>
                <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member1',
                    'jobDescription'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Naam medewerker 2</label>
                <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member2',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie medewerker 2</label>
                <label>{{this.form.get(['contractsignees','companyResponsibleForDataProcessing', 'member2',
                    'jobDescription'])!.value}}</label>
            </div>

            <!-- contractsignees Verwerker -->
            <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
            <div class="flex">
                <label>Naam medewerker 1</label>
                <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member1',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie medewerker 1</label>
                <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member1',
                    'jobDescription'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Naam medewerker 2</label>
                <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member2',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie medewerker 2</label>
                <label>{{this.form.get(['contractsignees','companyExecutingDataProcessing', 'member2',
                    'jobDescription'])!.value}}</label>
            </div>

            <!-- processingpurposes Verwerkingsdoeleindes -->
            <h5 class="card-subtitle mb-2">Formulier Verwerkingsdoeleindes</h5>
            <div class="flex">
                <label>Verwerkingsdoeleindes</label>
                <label>{{this.form.get(['processingpurposes','processingPurposes'])!.value}}</label>
            </div>

            <!-- certification Verwerkingsverantwoordelijke -->
            <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
            <div class="flex">
                <label>Certificeringen</label>
                <label>{{this.form.get(['certification','certifications'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Behaalde certificering</label>
                <label>{{this.form.get(['certification','achievedCertifications'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Audits, inspecties of interne controles</label>
                <label>{{this.form.get(['certification','overhauls'])!.value}}</label>
            </div>

            <!-- thirdparty Externe subverwerkers -->
            <h5 class="card-subtitle mb-2">Formulier Externe subverwerkers</h5>
            <div class="flex">
                <label>Naam</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDataProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Statutaire zetel</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDataProcessing',
                    'formalCity'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Adres</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDataProcessing',
                    'address'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Aanduiding van verwerking persoonsgegevens</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDataProcessing',
                    'typeOfProcessingForPersonalData'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Dienstomschrijving voor verwerker</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDataProcessing',
                    'jobDescription'])!.value}}</label>
            </div>

            <!-- thirdparty Derde leveranciers -->
            <h5 class="card-subtitle mb-2">Formulier Derde leveranciers</h5>
            <div class="flex">
                <label>Naam</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Zetel</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                    'formalCity'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Adres</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                    'address'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Beschrijving van de levering</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                    'descriptionOfSupply'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Eventueel link naar de voorwaarden</label>
                <label>{{this.form.get(['thirdparty','externalSubEmployeeExecutingDatathirdPartySuppliersProcessing',
                    'linkToLegalTerms'])!.value}}</label>
            </div>

            <!-- thirdparty Derde leveranciers -->
            <h5 class="card-subtitle mb-2">Formulier Derde leveranciers</h5>
            <div class="flex">
                <label>Naam</label>
                <label>{{this.form.get(['thirdparty','dataTransfer', 'legalCountry'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Land</label>
                <label>{{this.form.get(['thirdparty','dataTransfer', 'nameOfExternalSubEmployee'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Basis van doorgifte</label>
                <label>{{this.form.get(['thirdparty','dataTransfer', 'reasonForDataTransfer'])!.value}}</label>
            </div>

            <!-- datacategory Gegevenscategorie verwerkingsverantwoordelijke -->
            <h5 class="card-subtitle mb-2">Formulier Gegevenscategorie verwerkingsverantwoordelijke</h5>
            <div class="flex">
                <label>Identificatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'IdentificationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'IdentificationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Rijksregisternummer</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'nationalRegistryNumber'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'nationalRegistryNumber'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Communicatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'communicationsData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'communicationsData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Relationele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'relationalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'relationalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Professionele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'professionalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'professionalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Locatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'locationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'locationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot de financiële situatie van een betrokkene.</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'financialData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'financialData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Financiële en verzekeringsproducten</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'financialAndInsuranceProducts'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'financialAndInsuranceProducts'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot stigmatisering of afzondering van de</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'stigmatizationOrIsolationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'stigmatizationOrIsolationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Levensstijl en gewoonten of consumptiegewoonten</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'lifestyleAndHabits'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'lifestyleAndHabits'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Gebruikersnamen, wachtwoorden en andere inloggegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'loginData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'loginData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens die kunnen worden gebruikt voor (identiteits)fraude</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'identityFraudData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'identityFraudData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot een bijzondere wettelijke</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Contractuele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'contractualData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'contractualData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Beeld- of geluidsopname</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'imageOrSoundRecording'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'imageOrSoundRecording'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Een andere categorie:</label>
                <label *ngIf="this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'otherCategory'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyResponsibleForDataProcessing',
                'otherCategory'])!.value">Nee</label>
            </div>

            <!-- datacategory Gegevenscategorie verwerker -->
            <h5 class="card-subtitle mb-2">Formulier Gegevenscategorie verwerker</h5>
            <div class="flex">
                <label>Identificatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'IdentificationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'IdentificationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Rijksregisternummer</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'nationalRegistryNumber'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'nationalRegistryNumber'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Communicatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'communicationsData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'communicationsData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Relationele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'relationalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'relationalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Professionele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'professionalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'professionalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Locatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'locationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'locationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot de financiële situatie van een betrokkene.</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'financialData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'financialData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Financiële en verzekeringsproducten</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'financialAndInsuranceProducts'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'financialAndInsuranceProducts'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot stigmatisering of afzondering van de</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'stigmatizationOrIsolationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'stigmatizationOrIsolationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Levensstijl en gewoonten of consumptiegewoonten</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'lifestyleAndHabits'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'lifestyleAndHabits'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Gebruikersnamen, wachtwoorden en andere inloggegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'loginData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'loginData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens die kunnen worden gebruikt voor (identiteits)fraude</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'identityFraudData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'identityFraudData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot een bijzondere wettelijke</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Contractuele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'contractualData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'contractualData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Beeld- of geluidsopname</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'imageOrSoundRecording'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'imageOrSoundRecording'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Een andere categorie:</label>
                <label *ngIf="this.form.get(['datacategory','companyExecutingDataProcessing',
                            'otherCategory'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','companyExecutingDataProcessing',
                            'otherCategory'])!.value">Nee</label>
            </div>

            <!-- datacategory Gegevenscategorie speciale verwerker -->
            <h5 class="card-subtitle mb-2">Formulier Gegevenscategorie speciale verwerker</h5>
            <div class="flex">
                <label>Identificatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'IdentificationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'IdentificationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Rijksregisternummer</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'nationalRegistryNumber'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'nationalRegistryNumber'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Communicatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'communicationsData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'communicationsData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Relationele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'relationalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'relationalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Professionele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'professionalData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'professionalData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Locatiegegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'locationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'locationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot de financiële situatie van een betrokkene.</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'financialData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'financialData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Financiële en verzekeringsproducten</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'financialAndInsuranceProducts'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'financialAndInsuranceProducts'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot stigmatisering of afzondering van de</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'stigmatizationOrIsolationData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'stigmatizationOrIsolationData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Levensstijl en gewoonten of consumptiegewoonten</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'lifestyleAndHabits'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'lifestyleAndHabits'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Gebruikersnamen, wachtwoorden en andere inloggegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'loginData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'loginData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens die kunnen worden gebruikt voor (identiteits)fraude</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'identityFraudData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'identityFraudData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Alle gegevens met betrekking tot een bijzondere wettelijke</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'specialLegalDutyOfConfidentialityAndProfessionalSecrecyData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Contractuele gegevens</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'contractualData'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'contractualData'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Beeld- of geluidsopname</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'imageOrSoundRecording'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'imageOrSoundRecording'])!.value">Nee</label>
            </div>
            <div class="flex">
                <label>Een andere categorie:</label>
                <label *ngIf="this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'otherCategory'])!.value">Ja</label>
                <label *ngIf="!this.form.get(['datacategory','SpecialCompanyExecutingDataProcessing',
                                 'otherCategory'])!.value">Nee</label>
            </div>

            <!-- spoc Verwerkingsverantwoordelijke -->
            <h5 class="card-subtitle mb-2">Formulier Verwerkingsverantwoordelijke</h5>
            <div class="flex">
                <label>Naam</label>
                <label>{{this.form.get(['spoc','CompanyResponsibleForDataProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie</label>
                <label>{{this.form.get(['spoc','CompanyResponsibleForDataProcessing',
                    'jobDescription'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Email</label>
                <label>{{this.form.get(['spoc','CompanyResponsibleForDataProcessing',
                    'email'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Telefoon</label>
                <label>{{this.form.get(['spoc','CompanyResponsibleForDataProcessing',
                    'phone'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Mobiele telefoon</label>
                <label>{{this.form.get(['spoc','CompanyResponsibleForDataProcessing',
                    'mobile'])!.value}}</label>
            </div>

            <!-- spoc Verwerker -->
            <h5 class="card-subtitle mb-2">Formulier Verwerker</h5>
            <div class="flex">
                <label>Naam</label>
                <label>{{this.form.get(['spoc','CompanyExecutingDataProcessing',
                    'name'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Functie</label>
                <label>{{this.form.get(['spoc','CompanyExecutingDataProcessing',
                    'jobDescription'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Email</label>
                <label>{{this.form.get(['spoc','CompanyExecutingDataProcessing',
                    'email'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Telefoon</label>
                <label>{{this.form.get(['spoc','CompanyExecutingDataProcessing',
                    'phone'])!.value}}</label>
            </div>
            <div class="flex">
                <label>Mobiele telefoon</label>
                <label>{{this.form.get(['spoc','CompanyExecutingDataProcessing',
                    'mobile'])!.value}}</label>
            </div>
        </div>
    </div>

    <div class="buttonToRight">
        <button class="versturen purple" type="submit">Versturen</button>
    </div>
</form>