<div class="formWrap">
    <div class="form">
        <div class="contract">
            <h5>contracts:</h5>
            <h5>firstQuestion:</h5>
            <h5>secondQuestion:</h5>
            <h5>thirdQuestion:</h5>
            <h5>lastQuestion:</h5>
        </div>
        <div class="contract" *ngFor="let form of contracts">
            <h5 class="extraTempStyling">Contract:</h5>
            <div class="first">{{form.firstQuestion}}</div>
            <div class="second">{{form.secondQuestion}}</div>
            <div class="third">{{form.thirdQuestion}}</div>
            <div class="last">{{form.lastQuestion}}</div>
        </div>
        <button class="purple" (click)="clearLocalStorage()">CLEAR</button>
    </div>
</div>