<div class="outlining">
    <div class="row">
        <!-- Buttons -->
        <div class="col-3 outlining">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a class="btn btn-dark">Form 1</a>
                <a class="btn btn-dark">Form 2</a>
                <a class="btn btn-dark">Form 3</a>
                <a class="btn btn-dark">Form 4</a>
                <a class="btn btn-dark">Form 5</a>
                <a class="btn btn-dark">Form 6</a>
            </div>
        </div>

        <!-- Text -->
        <div class="col-9 outlining">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Of dit: --> <br><br>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>