<div class="">
    <div class="row">
        <!-- Buttons -->
        <div class="col-3 secondarybg">
            <div class="startHeight move20left">
                <h4 class="mb45">progressie:</h4>
                <p class="pt10"><a>Naam formulier 1</a></p>
                <p class="pt10"><a>Naam onderdeel 2</a></p>
                <p class="pt10"><a>Naam onderdeel 3</a></p>
                <p class="pt10"><a>Controlleren gegevens</a></p>
            </div>
        </div>

        <!-- Text -->
        <div class="col-9 whitebg startHeight">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Form 2</h5>
                    <h2 class="card-subtitle mb-2">Naam van Formulier onderdeel 2</h2>
                    <p class="card-text">Beschrijving van formulier onderdeel 1. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
                    <hr>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2">Input onderdeel 1</h3>
                    <p class="card-text">Beschrijving van formulier onderdeel 1. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
                </div>
                <div class="d-flex mb-3">
                    <div class="form-check me-auto p-2 move30right">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Accept
                        </label>
                    </div>
                    <div class="form-check p-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Reject
                        </label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2">Input onderdeel 2</h3>
                    <p class="card-text">Beschrijving van formulier onderdeel 2. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
                </div>
                <div class="d-flex mb-3">
                    <div class="form-check me-auto p-2 move30right">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Accept
                        </label>
                    </div>
                    <div class="form-check p-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Reject
                        </label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2">Input onderdeel 3</h3>
                    <p class="card-text">Beschrijving van formulier onderdeel 3. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi</p>
                </div>
                <div class="d-flex mb-3">
                    <div class="form-check me-auto p-2 move30right">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Accept
                        </label>
                    </div>
                    <div class="form-check p-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label h3" for="flexCheckDefault">
                            Reject
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>